---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Experience from '../components/Experience.astro';
import Education from '../components/Education.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
---

<Layout>
  <Navbar />
  <main id="main-content">
    <Hero />
    <About />
    <Skills />
    <Experience />
    <Education />
    <Projects />
    <Contact />
  </main>
  <Footer />
  <BackToTop lang={lang} />
</Layout>
